@-moz-document url-prefix("https://news.ycombinator.com/") {
a,
p,
span {
    color: #c6c6c6 !important;
}

#hnmain {
    height: 100vh;
    padding-bottom: 0;
}

tr {
    background-color: #2f2f2f !important;
}

#index-body #content tbody tr {
    background-color: #393939 !important;
}

#index-body #content tbody tr:nth-child(2n) {
    background-color: #2f2f2f !important;
}

tbody #content {
    background-color: #1f1f1f !important;
    color: #1f1f1f !important;
}

textarea {
    background-color: #898888;
    border: none;
}

#more .morelink {
    text-align: center !important;
}

#header,
.nav-drop-down {
    background-color: #2f2f2f !important;
}
}

@-moz-document url-prefix("https://news.ycombinator.com/item") {
body #hnes-comments .hnes-comment.level-odd #hnes-comments.nolevels .hnes-comment {
    background-color: #cc0808 !important;
}

#18895029 {
    background-color: #2500ff !important;
}

.hnes-comment.level-odd,
#hnes-comments.nolevels .hnes-comment {
    background-color: #393939 !important;
}

.hnes-comment.level-even {
    background-color: #2f2f2f !important;
}

form textarea {
    background-color: #2f2f2f !important;
    color: #fff;
}

.hnes-new-parent {
    border-left: #f60;
}

body table,
td {
    background-color: #2f2f2f !important;
}

.self-post-text {
    background-color: #fff !important;
}
}

@-moz-document url-prefix("https://news.ycombinator.com/submit") {
body {
    background-color: #2f2f2f !important;
}

body #content {
    background-color: #2f2f2f !important;
}

h1 {
    color: #fff !important;
}

td {
    color: #fff !important;
}

input {
    background-color: #2f2f2f !important;
    color: #fff !important;
}

textarea {
    background-color: #2f2f2f !important;
    color: #fff !important;
}
}

@-moz-document url-prefix("https://news.ycombinator.com/login") {
body {
    background-color: #2f2f2f !important;
}

body #content {
    background-color: #2f2f2f !important;
}

h1 {
    color: #fff !important;
}

td {
    color: #fff !important;
}

input {
    background-color: #2f2f2f !important;
    color: #fff !important;
}
}

@-moz-document url-prefix("https://news.ycombinator.com/user") {
body center table table {
    background-color: #2f2f2f !important;
}

td {
    color: #fff !important;
}
}
